txt{font-size:50px;font-family:engravers mt;text-shadow:1px 2px 2px white;color:midnightblue;}
small{font-size:20px;text-shadow:2px 2px 2px silver;}
p1{color:black;text-shadow:1px 1px 1px white;font-size:20px;}
#gets{border-radius:10px;height:50px;width:150px; font-size:20px;text-shadow:1px 1px 1px black; border-width:3px;}